/*-- default form style --*/
label { cursor: pointer; }

input, select, button { font: 12px helvetica, arial, sans-serif; cursor: pointer; }

input[type="radio"], input[type="checkbox"] { float: left; margin: 3px; padding: 0; }

:focus { outline: 0; }

/*-- checkbox boxes --*/
.checkbox { zoom: 1; position: relative; }
.checkbox:before, .checkbox:after { content: '.'; display: block; overflow: hidden; visibility: hidden; font-size: 0; line-height: 0; width: 0; height: 0; }
.checkbox:after { clear: both; }
.checkbox label { background: url(../img/checkbox.png) no-repeat 0 0; float: left; padding-left: 24px; }
.checkbox input[type="checkbox"] { height: 0; margin: 0; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; position: absolute; width: 0; }
.checkbox input[type="checkbox"]:checked + label { background-position: 0 100%; }
.checkbox label.checked { background-position: 0 100%; }

/*-- radio buttons --*/
.radio { zoom: 1; position: relative; }
.radio:before, .radio:after { content: '.'; display: block; overflow: hidden; visibility: hidden; font-size: 0; line-height: 0; width: 0; height: 0; }
.radio:after { clear: both; }
.radio label { background: url(../img/radio.png) no-repeat 0 0; float: left; padding-left: 24px; }
.radio input[type="radio"] { height: 0; margin: 0; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; position: absolute; width: 0; }
.radio input[type="radio"]:checked + label { background-position: 0 100%; }
.radio label.checked { background-position: 0 100%; }

/*-- select boxes --*/
.select { zoom: 1; position: relative; }
.select:before, .select:after { content: '.'; display: block; overflow: hidden; visibility: hidden; font-size: 0; line-height: 0; width: 0; height: 0; }
.select:after { clear: both; }
.select select { -webkit-appearance: none; -moz-appearance: none; appearance: none; height: 33px; left: 0; margin: 0; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; padding: 0; position: absolute; top: 0; width: 100%; }
.select select + .place { background: url(../img/dropdown.png) no-repeat right center; border: 1px #d0d2d5 solid; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; color: #4c535c; display: block; font: bold 13px helvetica; height: 33px; padding: 7px 42px 7px 10px; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25); width: 100%; }

/*-- textbox --*/
.textbox { zoom: 1; position: relative; }
.textbox:before, .textbox:after { content: '.'; display: block; overflow: hidden; visibility: hidden; font-size: 0; line-height: 0; width: 0; height: 0; }
.textbox:after { clear: both; }
.textbox input[type="text"] { border: solid 1px #b9c0c9; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: inset 0px 2px 1px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 0px 2px 1px rgba(0, 0, 0, 0.1); box-shadow: inset 0px 2px 1px rgba(0, 0, 0, 0.1); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; color: #5d6572; margin: 0; padding: 7px 14px; }
.textbox input[type="text"]:focus { background-color: #f4f8fd; border-color: #9db0c7; outline: 0; }
.textbox ::-webkit-input-placeholder { color: #5d6572; }
.textbox input:-moz-placeholder { color: #5d6572; }

/*-- submit button --*/
.submit { zoom: 1; position: relative; }
.submit:before, .submit:after { content: '.'; display: block; overflow: hidden; visibility: hidden; font-size: 0; line-height: 0; width: 0; height: 0; }
.submit:after { clear: both; }
.submit input[type="submit"], .submit button { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dee2e9), color-stop(100%, #abb5c6)); background-image: -webkit-linear-gradient(#dee2e9, #abb5c6); background-image: -moz-linear-gradient(#dee2e9, #abb5c6); background-image: -o-linear-gradient(#dee2e9, #abb5c6); background-image: -ms-linear-gradient(#dee2e9, #abb5c6); background-image: linear-gradient(#dee2e9, #abb5c6); border: solid 1px #88909e; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); font-weight: bold; padding: 8px 15px; margin: 0; color: #5f646b; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3); }
.submit input[type="submit"]:hover, .submit button:hover { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e6e9ee), color-stop(100%, #c1c6d3)); background-image: -webkit-linear-gradient(#e6e9ee, #c1c6d3); background-image: -moz-linear-gradient(#e6e9ee, #c1c6d3); background-image: -o-linear-gradient(#e6e9ee, #c1c6d3); background-image: -ms-linear-gradient(#e6e9ee, #c1c6d3); background-image: linear-gradient(#e6e9ee, #c1c6d3); color: #4c535c; font-weight: bold; }
.submit input[type="submit"]:active, .submit button:active { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8990a0), color-stop(100%, #d1d4db)); background-image: -webkit-linear-gradient(#8990a0, #d1d4db); background-image: -moz-linear-gradient(#8990a0, #d1d4db); background-image: -o-linear-gradient(#8990a0, #d1d4db); background-image: -ms-linear-gradient(#8990a0, #d1d4db); background-image: linear-gradient(#8990a0, #d1d4db); -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.35); -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.35); box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.35); color: #4c535c; }
