/*-- default form style --*/
/* line 22, ../sass/forms.scss */
label {
  cursor: pointer;
}

/* line 25, ../sass/forms.scss */
input, select, button {
  font: 12px helvetica, arial, sans-serif;
  cursor: pointer;
}

/* line 29, ../sass/forms.scss */
input[type="radio"], input[type="checkbox"] {
  float: left;
  margin: 3px;
  padding: 0;
}

/* line 34, ../sass/forms.scss */
:focus {
  outline: 0;
}

/*-- checkbox boxes --*/
/* line 39, ../sass/forms.scss */
.checkbox {
  zoom: 1;
  position: relative;
}
/* line 6, ../sass/forms.scss */
.checkbox:before, .checkbox:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}
/* line 16, ../sass/forms.scss */
.checkbox:after {
  clear: both;
}
/* line 43, ../sass/forms.scss */
.checkbox label {
  background: url(../img/checkbox.png) no-repeat 0 0;
  float: left;
  padding-left: 24px;
}
/* line 49, ../sass/forms.scss */
.checkbox input[type="checkbox"] {
  height: 0;
  margin: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  position: absolute;
  width: 0;
}
/* line 57, ../sass/forms.scss */
.checkbox input[type="checkbox"]:checked + label {
  background-position: 0 100%;
}
/* line 61, ../sass/forms.scss */
.checkbox label.checked {
  background-position: 0 100%;
}

/*-- radio buttons --*/
/* line 67, ../sass/forms.scss */
.radio {
  zoom: 1;
  position: relative;
}
/* line 6, ../sass/forms.scss */
.radio:before, .radio:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}
/* line 16, ../sass/forms.scss */
.radio:after {
  clear: both;
}
/* line 71, ../sass/forms.scss */
.radio label {
  background: url(../img/radio.png) no-repeat 0 0;
  float: left;
  padding-left: 24px;
}
/* line 77, ../sass/forms.scss */
.radio input[type="radio"] {
  height: 0;
  margin: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  position: absolute;
  width: 0;
}
/* line 85, ../sass/forms.scss */
.radio input[type="radio"]:checked + label {
  background-position: 0 100%;
}
/* line 89, ../sass/forms.scss */
.radio label.checked {
  background-position: 0 100%;
}

/*-- select boxes --*/
/* line 95, ../sass/forms.scss */
.select {
  zoom: 1;
  position: relative;
}
/* line 6, ../sass/forms.scss */
.select:before, .select:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}
/* line 16, ../sass/forms.scss */
.select:after {
  clear: both;
}
/* line 99, ../sass/forms.scss */
.select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 33px;
  left: 0;
  margin: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
/* line 111, ../sass/forms.scss */
.select select + .place {
  background: url(../img/dropdown.png) no-repeat right center;
  border: 1px #d0d2d5 solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #4c535c;
  display: block;
  font: bold 13px helvetica;
  height: 33px;
  padding: 7px 42px 7px 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
  width: 100%;
}

/*-- textbox --*/
/* line 128, ../sass/forms.scss */
.textbox {
  zoom: 1;
  position: relative;
}
/* line 6, ../sass/forms.scss */
.textbox:before, .textbox:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}
/* line 16, ../sass/forms.scss */
.textbox:after {
  clear: both;
}
/* line 132, ../sass/forms.scss */
.textbox input[type="text"] {
  border: solid 1px #b9c0c9;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px 2px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 2px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 2px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #5d6572;
  margin: 0;
  padding: 7px 14px;
}
/* line 142, ../sass/forms.scss */
.textbox input[type="text"]:focus {
  background-color: #f4f8fd;
  border-color: #9db0c7;
  outline: 0;
}
/* line 148, ../sass/forms.scss */
.textbox ::-webkit-input-placeholder {
  color: #5d6572;
}
/* line 152, ../sass/forms.scss */
.textbox input:-moz-placeholder {
  color: #5d6572;
}

/*-- submit button --*/
/* line 158, ../sass/forms.scss */
.submit {
  zoom: 1;
  position: relative;
}
/* line 6, ../sass/forms.scss */
.submit:before, .submit:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}
/* line 16, ../sass/forms.scss */
.submit:after {
  clear: both;
}
/* line 162, ../sass/forms.scss */
.submit input[type="submit"], .submit button {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dee2e9), color-stop(100%, #abb5c6));
  background-image: -webkit-linear-gradient(#dee2e9, #abb5c6);
  background-image: -moz-linear-gradient(#dee2e9, #abb5c6);
  background-image: -o-linear-gradient(#dee2e9, #abb5c6);
  background-image: linear-gradient(#dee2e9, #abb5c6);
  border: solid 1px #88909e;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  padding: 8px 15px;
  margin: 0;
  color: #5f646b;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}
/* line 174, ../sass/forms.scss */
.submit input[type="submit"]:hover, .submit button:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e6e9ee), color-stop(100%, #c1c6d3));
  background-image: -webkit-linear-gradient(#e6e9ee, #c1c6d3);
  background-image: -moz-linear-gradient(#e6e9ee, #c1c6d3);
  background-image: -o-linear-gradient(#e6e9ee, #c1c6d3);
  background-image: linear-gradient(#e6e9ee, #c1c6d3);
  color: #4c535c;
  font-weight: bold;
}
/* line 180, ../sass/forms.scss */
.submit input[type="submit"]:active, .submit button:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8990a0), color-stop(100%, #d1d4db));
  background-image: -webkit-linear-gradient(#8990a0, #d1d4db);
  background-image: -moz-linear-gradient(#8990a0, #d1d4db);
  background-image: -o-linear-gradient(#8990a0, #d1d4db);
  background-image: linear-gradient(#8990a0, #d1d4db);
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.35);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.35);
  color: #4c535c;
}
